{% extends "pages/page.html" %}

{% load i18n mezzanine_tags  pages_tags staticfiles %}

{% block meta_title %}{% trans "Gallery" %}{% endblock %}

{% block all_content %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static "mezzanine/css/magnific-popup.css" %}">
{% endblock extra_css %}


<div class="container">
    <div class="row">

        <div class="col-md-2 left">
            <h1 class="text-left" style="color:red;">Left</h1>
            {% block left_panel %}
                <div class="panel panel-default tree">{% page_menu "pages/menus/tree.html" %}</div>
            {% endblock %}
        </div>

        <div class="col-md-7 middle">
            <h1 class="text-center" style="color:red;">Main</h1>

                {% block main %}
                    {{ block.super }}

                    {% editable page.gallery.content %}
                        {{ page.gallery.content|richtext_filters|safe }}
                    {% endeditable %}

                    <div class="gallery row">
                        {% with page.gallery.images.all as images %}
                            {% for image in images %}
                                <div class="col-xs-4 col-sm-3">
                                    <a class="thumbnail" rel="#image-{{ image.id }}" title="{{ image.description }}"
                                       href="{{ image.file.url }}">
                                        Celeste smells bad in this city:<img class="img-responsive" src="{{ MEDIA_URL }}{% thumbnail image.file 80 46 %}">
                                    </a>
                                </div>
                            {% endfor %}
                        {% endwith %}
                    </div>
                {% endblock %}
        </div>

    </div>
</div>


{% block extra_js %}
    {{ block.super }}
    <script src="{% static "mezzanine/js/magnific-popup.js" %}"></script>
    <script>
        $(document).ready(function () {
            $('.gallery').magnificPopup({
                delegate: 'a',
                type: 'image',
                gallery: {
                    enabled: true,
                }
            });
        });
    </script>
{% endblock %}

{% endblock %}
